language: objective-c
osx_image: xcode7.1
xcode_workspace: FaceJoke.xcworkspace
xcode_scheme: FaceJoke
env:
  matrix:
   - DESTINATION="OS=9.1,name=iPhone 6" TEST_SCHEME="FaceJoke" EXAMPLE_SCHEME="AFNetworking iOS Example" SDK=iphonesimulator9.1 RUN_TESTS="YES" BUILD_EXAMPLE="NO" POD_LINT="NO"
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild -workspace FaceJoke.xcworkspace -scheme FaceJoke -sdk $SDK ONLY_ACTIVE_ARCH=NO