language: objective-c
osx_image: xcode7
xcode_workspace: FaceJoke.xcworkspace
xcode_scheme: FaceJoke
env:
  matrix:
   - DESTINATION="OS=8.4,name=iPhone 6" TEST_SCHEME="FaceJoke" EXAMPLE_SCHEME="AFNetworking iOS Example" SDK=iphonesimulator9.0 RUN_TESTS="YES" BUILD_EXAMPLE="NO" POD_LINT="NO"
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - if [ $RUN_TESTS == "YES" ]; then 
      xctool -workspace FaceJoke.xcworkspace -scheme "$TEST_SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c; 